body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#score {
    font-size: 72px;
    margin-top: 20px;
    color: crimson;
}

.sectionLeft {
    margin-top: 2em;
    float: left;
    width: 60%;
}

.sectionRight {
    margin-top: 2em;
    float: right;
    width: 35%;
}

.scoreContainer {
    background-color: lightgray;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: black;
    padding: 10px;
    margin: 30px;
    border: 15px;
    border-radius: 15px;

}

#autoClickerEffect {
    font-size: 48px;
}

.donut {
    position: relative;
    transition: all .2s ease-in-out;
    width: 350px;
    height: 350px;
    background-image: url(Donuts.jpg);
    background-size: cover;
    display: inline-block;
    margin-top: 50px;
    cursor: pointer; 
}

.donut:hover { transform: scale(1.10); }
.donut:active { transform: scale(0.80); }

.eStore {
    background-color: #b5b5b5;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px 10px 0px;
}
.eStore:hover {
    background-color: #c7c7c7;
    transition: all .2s ease-in-out;
}

.eStore #image {
    width: 25%
}

.eStore img {
    height: 100px;
    width: 80px;
}

.eStore nameAndCost p {
    margin: 0px;
    width: 60%;
}

.eStore #nameAndCost p:first-of-type {
    font-size: 24px;
}

.eStore #amount {
    font-size: 48px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 15%;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;        
}

.sectionFooter {
    margin-top: 41%;
    position:absolute
}

nav {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    display:flex;
    flex-flow: row;
    justify-content: center;
    background: #333;
    }

    nav a {
        padding: .5em 2em;
        text-decoration: none;
        color: #fff;
        }
        
        nav a:hover{
            background-color: #666;
        }
        
        section {
            margin: 1em 0;
            padding-top: 3em;
            min-height: 20em;
        }
        
        section > p {
            margin: 1em 0;
        }

